<h1 mat-dialog-title class="text-center">
    Modifier le prix de <span class="badge bg-danger">{{data.name}}</span> ?
</h1>
<p>Veuillez confirmer le nouveau prix ci-dessous.</p>
<mat-divider></mat-divider>

<div mat-dialog-content>
    <div class="row mt-2">
        <div class="d-flex justify-content-center">
            <form [formGroup]="form">
                <mat-form-field appearance="fill" color="accent">
                    <mat-label>Prix</mat-label>
                    <input matInput formControlName="content" required>
                    <mat-error *ngIf="!form.value.content;">
                        Ce champ est obligatoire.
                    </mat-error>
                </mat-form-field>
            </form>
        </div>
    </div>
</div>
<mat-divider></mat-divider>
<div mat-dialog-actions>
    <div class="d-flex justify-content-center">
        <button mat-button color="warn" (click)="dialogRef.close();">Annuler</button>
        <button type="submit" mat-button color="accent" [ngStyle]="{'margin-left': '8px'}" [disabled]="form.invalid" (click)="Update()">Continuer</button>
    </div>
<div mat-dialog-actions>