<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-xl-3 col-sm-6 col-12 mb-4">
            <div class="card">
                <img class="card-img-top" src="../../../../../assets/images/roleplay/objects/barriere_01.png">
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12 mb-4">
            <div class="card">
                <img class="card-img-top" src="../../../../../assets/images/roleplay/objects/barriere_02.png">
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12 mb-4">
            <div class="card">
                <img class="card-img-top" src="../../../../../assets/images/roleplay/objects/barriere_03.png">
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12 mb-4">
            <div class="card">
                <img class="card-img-top" src="../../../../../assets/images/roleplay/objects/perceuse.png">
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12 mb-4">
            <div class="card">
                <img class="card-img-top" src="../../../../../assets/images/roleplay/objects/police_armory.png">
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12 mb-4">
            <div class="card">
                <img class="card-img-top" src="../../../../../assets/images/roleplay/objects/printer.png">
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12 mb-4">
            <div class="card">
                <img class="card-img-top" src="../../../../../assets/images/roleplay/objects/printer_paper.png">
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12 mb-4">
            <div class="card">
                <img class="card-img-top" src="../../../../../assets/images/roleplay/objects/supply.png">
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12 mb-4">
            <div class="card">
                <img class="card-img-top" src="../../../../../assets/images/roleplay/objects/workbench.png">
            </div>
        </div>
    </div>
</div>