.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

#Bar{
    display: block;
    width: 800px;
    height: 800px;
    align-items: center;
}

#Doughnut{
    display: block;
    width: 400px;
    height: 400px;
    align-items: center;
}