<mat-toolbar color="primary" ngxAnimatedGradient>
	<button mat-icon-button (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>
	<h1 class="example-app-name">Administration</h1>
</mat-toolbar>
<mat-drawer-container class="example-container" autosize>
	<mat-drawer #drawer opened="true" class="example-sidenav bg-dark text-white" mode="side">
		<mat-list>
			<mat-list-item matRipple [matRippleColor]="'lightgreen'" routerLink="/admin" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
				<span class="text-white"><box-icon name='home'></box-icon> Accueil</span>
			</mat-list-item>
			<mat-divider></mat-divider>
			<mat-list-item matRipple [matRippleColor]="'lightgreen'" [routerLink]="['news']" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
				<span class="text-white"><box-icon name='news'></box-icon> Nouvelles</span>
			</mat-list-item>
			<mat-divider></mat-divider>
			<mat-list-item matRipple [matRippleColor]="'lightgreen'" [routerLink]="['patch']" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
				<span class="text-white"><box-icon name='list-check' ></box-icon> Patchnotes</span>
			</mat-list-item>
			<mat-divider></mat-divider>
			<mat-list-item matRipple [matRippleColor]="'lightgreen'" [routerLink]="['shop']" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
				<span class="text-white"><box-icon type='solid' name='cart-download'></box-icon> Boutique</span>
			</mat-list-item>
		</mat-list>
	</mat-drawer>
	<router-outlet></router-outlet>
</mat-drawer-container>